<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/foodhitch-green.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/foodhitch-green.png' %}" alt="Logo">
        </div>
    </header>
    <div class="container">
        <div class="login-form">
            <form method="post" action="{% url 'password_reset_request' %}">
                {% csrf_token %}
                <h2>Enter Username to Reset Password</h2>
                <label for="username" style="margin-left:-10%;">Username</label>
                <input type="text" id="username" name="username" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('username').addEventListener('blur', function() {
            const username = this.value;

            fetch(`/check_username?username=${username}`)
                .then(response => response.json())
                .then(data => {
                    if (!data.exists) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Username Not Found',
                            text: 'The username you entered does not exist.',
                            confirmButtonText: 'Okay'
                        });
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Username Found',
                            text: 'The username you entered exists. You can proceed with resetting your password.',
                            confirmButtonText: 'Okay'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirect to the password reset page
                                window.location.href = "{% url 'password_reset_set' %}"; // Adjust this URL as necessary
                            }
                        });
                    }
                });
        });
    </script>
</body>
</html>
